@import "../bootstrap/scss/bootstrap";

body {
    background-color: $bg-lighter;
}
/*HEADER BAR*/
.heading-bar {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: $bg-dark;
    color: whitesmoke;
}

/*INFO PANEL*/

.info-panel {
    color: $text-lighter;
    background-color: $bg-dark;
    padding: 10px;
    border-left: 5px solid $bg-lighter;
}

#method-pros-heading, #method-cons-heading {
    display: none;
}

/*SIGNAL CONFIG*/

.signal-configuration {
    background-color:  $bg-lighter;
}

.no-signal-selected-msg {
    text-align: center;
}

.signal-selection {
    background-color: $bg-light;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.combination-bar {
    background-color: #274472;
}

.signal-type-info {
    list-style-type: none;
}

.signal-heading-info {
    font-weight: bold;
}

/*UPLOADS*/
.upload-bottom-bar {
    background-color: $bg-dark;
}

.upload-signal {
    background-color: $bg-light;
    color: $text-lighter;
}

/*CHARTS*/
.main-chart{
    background-color: #F4F4F8;
}


/* PLACE HOLDERS */
.starting-instructions {
  height: 500px;
}

.placeholderText {
  background-color: $bg-lightest
}

.placeholderText, .starting-instructions {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

/* NAV BAR */
.nav{
    background-color: $nav-bg;
    height: $nav-bar-height;
}

.nav-link.active-dark {
    background-color: $nav-tabs-link-active-bg-dark;
    color: $nav-tabs-link-active-color;
    border-color: $nav-tabs-link-active-border-color;
}





.hide-info-panel {
  display: none !important;
  background-color: $bg-lighter !important;
}

.hide {
  display: none !important;
}