$test:orange;
$primary:#274472;
$secondary:#515151;

$bg-lighter:#c3ceda;
$bg-light:#41729F;
$bg-dark:#274472;

$text-lighter:#F9FAFB; 
$text-light:#515151;
$text-dark:#383838;


$nav-bg:#e1e7ed;
$nav-tabs-link-active-bg: $bg-light;
$nav-tabs-link-active-bg-dark: $bg-dark;
$nav-tabs-link-active-color: $text-lighter;
$nav-bar-height: 50px;


// #668EBC
// #4975A5
// #3B5C81 